# Database

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=

# API

JWT_SECRET=
NODE_ENV=development
RAWG_API_KEY=
COOKIE_DOMAIN=
FRONTEND_URL=

# Frontend

NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_BASE_URL=
API_INTERNAL_URL=
